/* root{
--primary-color: linear-gradient(to left, #302b48, #264A9D);
} */

body{
background-color: black;
margin: 0px;
font-size: 100%;
width: 100%;
overflow-x: hidden;
}



.navbar{
    background: black;
        border-bottom: 1px solid #ffc107;
        padding: 0px;
}

.navbar-brand{
    color: #a3a2a2 !important;
    font-size: 200%;
    /* text-shadow: 0px 1px 2px black; */
    position: relative;
    left: 15vh;
}   

.navbar .fa-bitcoin{
    color: #ffc107;
    transform: rotate(0deg);
    font-size: 80%;
}
.nav-link{
    color: white !important;
    font-size: 100%;
    
}
.nav-link:hover{
    color: #ffc107 !important;
    
}
.nav-item{
    min-width: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px dotted white; */
    transition: border 1s;
}

.nav-item:hover{
    border-radius: 4px;
    border: 1px solid #ffc107;
}

.s1{
    /* border: 1px solid red; */
    height: 80vh;
    background-image: url("/images/5b1b0730a27fc006d1733708467527351.jpg") !important;
    background-position: right;
    background-size:100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.s1-inner{
    width: 60%;
}

.inner-title{
    color: white;
    font-size: 280%;
    margin-bottom: 3px;
}
.inner-small{
    color: white !important;
    font-size: 180%;
    margin-bottom: 3px;
}
.inner-text{
    color: white !important;
    font-family: sans-serif;
    width: 100%;
    text-shadow: 2px 2px 1px black;
}
.get-started{
    color: black;
    background: #ffc107;
    width: 30vh;
    height: 6.5vh;
    border: none;
}
.get-started-top{
    color: black;
    background: #ffc107;
    /* width: 30vh; */
    /* height: 6.5vh; */
    border: none;
}

.get-started:hover, .get-started-top:hover{
    background: linear-gradient(to right, #ffc107, black);
}
/* .s2-super{
    
    border: 1px solid red;
} */

.s2{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px !important;
}

.s2 hr{
    padding: 2px;
    width: 7vh;
    margin-bottom: 0px;
    background: linear-gradient(to left, #ffc107, black);
}

.s2-title{
    color: white;
    font-size: 300%;
}
.strip{
    color: #ffc107!important;
    font-weight: bold;
}
.s2-texts{
    color: white;
    font-size: 105%;
    margin-bottom: -2px;
}

.work-flex{
    background: #4f2e8d;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    display: none;

}
.work-flex-cons{
    margin: 0px 2vh 0px 2vh;
    height: auto;
    padding:20px 0px 10px 0px;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}

.icon-base{
    /* border: 3px dotted black !important; */
    border-left: 2px solid #17a0b3;
    border-top: 2px solid #3d558f;
    border-right: 2px solid #5353d3;
    border-bottom: 2px solid #3a2b8f;
    background: transparent;
    padding: 2.5vh;
}


.work-flex-title{
    color: white;
    font-size: 110%;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -3px;
    text-align: center;
}

.work-flex-text{
    color: dimgray;
}

.slide-con{
    height: 50vh;
    width: 75vh;
    overflow: hidden;
    display: flex;
    /* border: 1px solid red; */
}

.flexers-double{
    display: none;
}

.flexers{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    /* border: 1px solid red; */
    padding: 0px;
}

.flexers-text-con{
    width: 45%;
    /* border: 1px solid red; */
    /* padding: 0px; */
    margin-bottom: 0px;
}

.flexers-title{
    color: white;
    font-family: sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.flexers-title{
    color: white;
    font-family: sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.flexers-text{
    color: white;
}

.flexers-img-con{
    height: 40vh;
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.copy-box{
animation: jingle 2s ease-out 0s infinite;
}

@keyframes jingle

{
    0% { transform: translateY(-10px); }
    50% { transform: translateY(20px);
    text-shadow: none; }
    100% { transform: translateY(-10px) }

}

.bit-box{
animation: rotate 3.5s ease-out 0s infinite;
}
@keyframes rotate {

     0% { transform: rotateZ(0deg); }
    50% { transform: rotateZ(180deg);
    text-shadow: none; }
    100% { transform: rotateZ(360deg) }
}

.cam-box{
animation: zoom 3s ease-out 0s infinite;
}
@keyframes zoom {
    0% { font-size: 500%; }
    50% { font-size: 1000%; }
    100% { font-size: 500%; }

}


.check-box{
animation: shake 1s ease-out 0s infinite;
}

@keyframes shake {
      0% { transform: rotateZ(20deg); }
    50% { transform: rotateZ(-20deg);
    text-shadow: none; }
    100% { transform: rotateZ(20deg) }

}

.icon-base{
    /* border: 3px dotted black !important; */
    border-left: 3px dotted #17a0b3;
    border-top: 3px dotted #3d558f;
    border-right: 3px dotted #5353d3;
    border-bottom: 3px dotted #3a2b8f;
    background: transparent;
    padding: 5vh;
}

.flexers-img-con .fa, .flexers-img-con .fab{
    color: #ffc107;
font-size: 1000%;
}


/* invest */


.s2-trade{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
}

.invest-s1{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invest-s1 hr{
    padding: 2px;
    width: 12vh;
    background: linear-gradient(to left, #3a2b8f,#5353d3, #17a0b3);
}

.invest-s1-title{
    color: black;
    font-size: 300%;
}

.invest-s1-texts{
    font-size: 105%;
    margin-bottom: -2px;
}

.work-flex{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
}
.work-flex-cons{
    background: black !important;
    margin: 0px 2vh 0px 2vh;
    height:auto;
    width: 40vh;
    border: 2px solid #ffc107;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    /* animation: bounce 3.5s ease-out 0s infinite; */
}


@keyframes bounce {
    0% { transform: translateX(-10px); }
    50% { transform: translateX(20px);
    text-shadow: none; }
    100% { transform: translateX(-10px) }
}
.icon-base{
    /* border: 3px dotted black !important; */
    border: 1px solid black;
    background: transparent;
    padding: 5vh;
}

.icon-base .fa-bitcoin{
    color: #ffc107;
    font-size: 600%;
    animation: rotate 3.5s ease-out 0s infinite;
}
.work-flex-percent{
    font-family: tahoma;
    color: #ffc107;
    font-size: 250%;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -3px;
}


.work-flex-title{
    color: white;
    font-size: 140%;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -3px;
}

.work-flex-text{
    color: white;
    text-align: center;
    width: 70%;
}


/* testimony */
.testimony-super{
    background: transparent;
    border: 1px solid #ffc107;
    padding: 15px;
    display: flex;
    justify-content:space-between;
}

.testimony-con{
    background: transparent !important;
    width: 49%;
    padding: 3px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.testimony-con .lead{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 12px;
}

.withdraw-con .lead{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 12px;
}

.testimony-con .list-group{
    background: transparent !important;
}

.testimony-con .list-group-item{
    color: white;
    background: transparent !important;
}

.testimony-con .list-group-item .badge{
    background: green !important;
    font-size: 120%;
}
.withdraw-con{
    border-left: 1px solid #ffc107;
}

.withdraw-list  .list-group-item .badge{
    background: red !important;
    font-size: 110%;
}


.talk-super{
    background: transparent;
    /* border-top: 1px dashed #ffc107; */
    padding: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 0px;
}

.talk-super .lead{
    font-size: 300%;
}

.talk-con{
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin:0px;
    margin-left: 5%;
}

.talk-con-inner{
    background: transparent;
    margin:0px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures{
font-size: 250%;
margin:0px;
}

.figure-text{
font-size: 140%;
margin:0px;
}


.warn-super{
    display: flex;
    justify-content: center;
    background: transparent;
}

.warn-super .warn-inner{
    width: 50vh;
    background: white;
}

.inst-higher{
    
    background: transparent;
    display: flex;
    justify-content: center;
}
.inst-super{
    width: 80%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.inst-super .inst-cons{
    width: 30%;
    margin: 0;
}

 .inst-cons small{
     font-size: 90%;
}

#wallie{
    font-size: 85%;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    word-wrap: break-word;
}

.form-around{
    background: transparent;
    display: flex;
    justify-content: center;
}

.form-around-inner{
    background:transparent;
    border: 1px solid #ffc107;
    width: 70%;
}

.form-around-inner label{
    color: #ffc107;
}


@media screen and (max-width:1024px){

.work-flex{
    background: transparent;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.work-flex-cons{
    margin: 0px 1vh 2vh 1vh;
    width: 31%;
}

.icon-base{
    padding: 0vh;
}

.icon-base .fa-bitcoin{
    font-size: 500%;
}
.work-flex-percent{
    font-size: 200%;
}


.work-flex-title{
    font-size: 120%;
}

.work-flex-text{
    width: 80%;
}


/* testimony */
.testimony-super{
    background: transparent;
    border: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony-con{
    background: transparent !important;
    width: 100%;
    padding: 3px;
    margin-bottom: 30px;
    border-radius: 0px;
    border: 1px solid #ffc107;
}


.talk-super{
    background: transparent;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.talk-super .lead{
    font-size: 200%;
}

.talk-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin:0px;
}

.talk-con-inner{
    background: transparent;
    margin:0px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures{
font-size: 250%;
margin:0px;
}

.figure-text{
font-size: 140%;
margin:0px;
}

}
@media screen and (max-width:768px){
    .navbar-brand{
        left: 15px;
    }
.navbar-toggler{
    background: #ffc107 !important;
    margin-right: 2vh;
}

.nav-link{
    color: white !important;
    font-size: 100%;
    
}


    #navbarSupportedContent{
    position: fixed;
    background: black;
    right: 2.2vh;
    top: 8.2vh;
    border-radius: 0%;
    border: 1px solid #ffc107;
    /* box-shadow: 3px 3px 4px #ffc107; */
}


    .s1{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        /* border: 1px solid red; */
        border-bottom: 1px solid lightgray;
        background-size: 70%;
    }
    .s1-inner{
    width: 100%;
    /* border: 1px solid red; */
    left: 0px;
    position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


.inner-title{
    text-align: center;
    font-size: 260%;
}
.inner-small{
    text-align: center;
    font-size: 150%;
}

.inner-text{
    text-align: center;
    color: black;
    text-shadow: 2px 1px 153px lightgray;
}
.flexers-text-con{
    text-align: center;
    width: 60%;
    /* border: 1px solid red; */
}

.flexers-img-con{
    height: 40vh;
    width: 40%;
    /* border: 1px solid red; */
}

.work-flex{
    background: transparent;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.work-flex-cons{
    margin: 0px 0vh 2vh 0vh;
    width: 47%;
}

.talk-super{
    padding: 0px;
}

.talk-super .lead{
    font-size: 200%;
}

.talk-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin:0px;
}

.talk-con-inner{
    background: transparent;
    margin:0px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures{
font-size: 250%;
margin:0px;
}

.figure-text{
font-size: 110%;
margin:0px;
}

}


@media screen and (max-width:425px){
    .navbar-brand{
        left: 1px;
        font-size: 200%;
    }

    .s1{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        /* border: 1px solid red; */
        border-bottom: 1px solid lightgray;
        background-size: 70%;
    }
    .s1-inner{
    width: 100%;
    /* border: 1px solid red; */
    left: 0px;
    position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


.inner-title{
    text-align: center;
    font-size: 260%;
}
.inner-small{
    text-align: center;
    font-size: 150%;
}

.inner-text{
    text-align: center;
    color: black;
    text-shadow: 2px 1px 153px lightgray;
}
.flexers{
    display: none;
    /* border: 1px solid red; */
    padding: 0px;
}

.flexers-double{
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* margin: 0px; */
    /* border: 1px solid red; */
}

.flexers-img-con .fa, .flexers-img-con .fab{
    color: #ffc107;
font-size: 800%;
}


.flexers-double .flexers-text-con{
    width: 80%;
    /* border: 1px solid red; */
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
}

.flexers-double .flexers-text{
    text-align: center;
}

.flexers-double .flexers-img-con{
    height: auto;
    width: 80%;
    /* border: 1px solid lightgray; */
    margin: 0px !important;
    padding: 10px !important;
}

.cam-box{
    margin-bottom: 10px;
}
@keyframes zoom {
    0% { font-size: 300%; }
    50% { font-size: 600%; }
    100% { font-size: 300%; }

}


.work-flex{
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.work-flex-cons{
    margin: 0px 0vh 2vh 0vh;
    width: 100%;
}

.talk-super{
    padding: 0px;
}

.talk-super .lead{
    font-size: 200%;
}

.talk-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin:0px;
}

.talk-con-inner{
    background: transparent;
    margin:0px;
    width: 103%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures{
font-size: 180%;
margin:0px;
}

.figure-text{
font-size: 100%;
margin:0px;
}
}

@media screen and (max-width:375px){
    .s1{
        background-size: 70%;
    }

.inner-title{
    font-size: 240%;
}
.inner-small{
    font-size: 130%;
}

.inner-text{
    font-size: 90%;
    color: black;
    text-shadow: 2px 1px 153px lightgray;
}

.get-started{
    height: auto;
}

.s2-title{
    font-size: 200%;
}

.flexers{
    /* border: 1px solid red; */
    padding: 0px;
}

.flexers-img-con .fa, .flexers-img-con .fab{
    color: #ffc107;
font-size: 800%;
}

.flexers-title{
    font-size: 130%;
}
.flexers-text-con{
    width: 50%;
    /* border: 1px solid red; */
}

.flexers-img-con{
    height: 40vh;
    width: 50%;
    /* border: 1px solid red; */
}
}
